@page "/"
@rendermode InteractiveServer

<PageTitle>Home - @Configuration.ServerName</PageTitle>

<h1>Super Mario Odyssey Online</h1>

<p>
    Welcome to the Super Mario Odyssey Online Webinterface
</p>

@code
{
}
